<ion-header>
  <ion-toolbar>
    <ion-title>modal</ion-title>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col sizeMd="4" offsetMd="4">
        <ion-list>
          <ion-item *ngFor="let producto of product" button (click)="ver(producto)">
            <ion-avatar slot="start">
              <img src=" ../../../assets/image/logos/{{producto.logo}}">
            </ion-avatar>
            <ion-label>{{producto.name}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>