

<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-button (click)="close()">Cerrrar Sesion</ion-button>
  </ion-content>
  
</ion-menu>

<div class="ion-page" id="main-content">

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Pokemon AYAKI</ion-title>
    

    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" >

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
              <img alt="Silhouette of mountains" src="../../../assets/image/Pokédex_logo.png" />
            <ion-card-header>
              <ion-card-title>Crear Equipo</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-button id="open-loading" [routerLink]="['/pokemon-list']">Ver</ion-button>
              <ion-loading trigger="open-loading" message="Cargando..." [duration]="1000" spinner="circles"></ion-loading>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card >
            <img alt="" src="../../../assets/image/teamPokemon.png" />
            <ion-card-header>
              <ion-card-title>Administrar Equipo</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-button id="present-alert" (click)="ver()">Ver</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-content>

  

</div>




